* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: grey;
}

h1 {
    font-size: 4rem;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.popup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.popup-form input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popup-form button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#container {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
    background-color: black;
    border: 1px solid black;
}

#container > div {
    background-color: white;
    padding: 15px;
}

.cell {
    height: 200px;
    width: 200px;
    font-size: 3rem;
}

#playerTurn, #score0, #score1 {
    font-size: 2rem;
}

button {
    cursor: pointer;
}

#resetBtn {
    color: white;
    background-color: red;
    font-size: 3rem;
    border-radius: 10px;
    padding: 15px;
}